
            .amarelo{
                background-color: #ffff00!important;
            }
            .verde{
                background-color: #00ff00!important;
            }
            .vermelho{
                background-color: #ff0000!important;
            }